.row {
    display: flex;
    flex-direction: row;
    padding: 20px;   
}

.column {
    display: flex;
    flex-direction: column;
    
}

.top button {
    
    font-size: 17px;
    color: gray;
    background-color: white;
    width: 180px;
    height: 60px;
    border-radius: 5px;
    border-color: rgb(183, 182, 182);
    border-width: 3px;
    border-style: solid;
    margin-left: 15px;
    box-shadow: none;    
}




.top h2 {
    margin-left: 20px;
    
}


.top {
    margin-left: 20px;
    margin-top: 40px;
}

.row p {
    
    font-size: 17px;
    margin-left: 30px;
    height: 10px;
}

.row input {
    padding: 15px 20px;
    margin: 10px 15px;
    background-color: rgb(235, 235, 235);
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 400px;
    height: 30px;
}

.row input::placeholder {
    color: black;
    font-size: 15px;
}