
.header {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 70px;
    
}

.logo {
    position: absolute;
    left: 40px;   
    color: yellowgreen;    
    width: 100px;
    height: 70px;
}

.service_area {
   position: absolute;
   right: 10px;  
   color: black;
   margin-left: 10px;
}

.span_basic {
    font-size: 20px;
    color: black;
    margin-left: 20px;
}

.log_out {
    font-size: 20px;
    color: red;
    margin-left: 20px;
}